*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    /* overflow: hidden; */
    scrollbar-width: none;
    -ms-overflow-style: none;        
}

body::-webkit-scrollbar {
    display: none;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.lil-gui {
    /* display: none; */
}

.scrollTarget {
    scrollbar-width: none;
    height: 1000vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
    top: 0;
}